{% extends 'base.html' %}

{% block content %}
<div class="center-screen">
  <div class="center-form">
  <h2>Employee Details:</h2>
  {% if employee.image %}
  <div class="image-container">
    <img src="{{ employee.image.url }}" alt="Image of {{ employee.name }}">
  </div>
{% else %}
  <p>No image available.</p>
{% endif %}</h2>
  <p>Name: {{ employee.name }}</p>
  <p>Hours: {{ employee.hours }}</p>
  <p>Attendance: {{ employee.attendance }}</p>
  <p>Pay: {{ employee.pay }}</p>
  <p>Position: {{ employee.position }}</p>

<div class="action-links">
  <a href="{% url 'employee_edit' employee.id %}" class="btn waves-effect waves-light">Edit</a> |
  <a href="{% url 'employee_delete' employee.id %}" class="btn waves-effect waves-light">Delete</a> |
  <a href="{% url 'employee_list' %}" class="btn waves-effect waves-light">Back to List</a>
    </div>
  </div>
</div>
{% endblock %}