{% extends 'base.html' %}

{% block content %}
<div class="center-content">
  <h2>Parent List</h2>
  <a href="{% url 'parent_create' %}" class="btn">>Add New Parent</a>
  <div class="row">
  <ul>
    {% for parent in parents %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ parent.name }}</span>
          <p>Kids: {{ parent.kidsName }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'parent_detail' id=parent.id %}" class="card-button">Details</a>
          <a href="{% url 'parent_edit' id=parent.id %}" class="card-button">Edit</a>
          <a href="{% url 'parent_delete' id=parent.id %}" class="card-button">Delete</a>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
