{% extends 'base.html' %}

{% block content %}
<div class="center-screen">
  <div class="center-form">
  <h2>Parent Details:</h2>
  {% if parent.image %}
  <div class="image-container">
    <img src="{{ parent.image.url }}" alt="Image of {{ parent.name }}">
    <a href="{% url 'delete_parent_image' id=parent.id %}">Delete Image</a>
  </div>
{% else %}
  <p>No image available.</p>
{% endif %}
  <p>Name: {{ parent.name }}</p>
  <p>Kids' Names: {{ parent.kidsName }}</p>
  <p>Paid: {{ parent.paid }}</p>
  <p>Attendance: {{ parent.attendance }}</p>

<div class="action-links">
  <a href="{% url 'parent_edit' id=parent.id %}" class="btn waves-effect waves-light">Edit</a> |
  <a href="{% url 'parent_delete' id=parent.id %}" class="btn waves-effect waves-light">Delete</a> |
  <a href="{% url 'parent_list' %}" class="btn waves-effect waves-light">Back to List</a>
    </div>
  </div>
</div>
{% endblock %}
